.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    width: 300px;
    background-color: red;
}

.resultado {
    display: flex;
    height: 200px;
    width: 100%;  
    gap: 10px;  
}

.bloco{
    background-color: blue;
    border-radius: 4px;
    padding: 10px;
    color: white;
}